nest-admin/node_modules/*

nest-admin/dist
nest-admin/dist/tsconfig.build.tsbuildinfo
nest-admin/dist/tsconfig.build.tsbuildinfo
nest-admin/dist/user/user.service.d.ts
nest-admin/dist/user/user.service.d.ts
nest-admin/dist/user/user.service.js
nest-admin/dist/user/user.service.d.ts
*.map
*.js
*.js
*.ibd
